beautifulsoup4==4.5.3
click==6.7
defusedxml==0.4.1
dj-database-url==0.4.2
Django==1.10.5
django-allauth==0.30.0
django-rq==0.9.4
gunicorn==19.6.0
jsonfield==1.0.3
oauthlib==2.0.1
psycopg2==2.6.2
python3-openid==3.0.10
redis==2.10.5
requests==2.12.5
requests-oauthlib==0.7.0
rq==0.7.1
whitenoise==3.3.0
