{% extends 'base.html' %}

{% block content %}
    <style type="text/css">
        .mask {
            position: absolute;
            background-color: rgba(0,0,0,.1);
            width: 100%;
            height: 600px;
        }
        .mask .title {
            position: relative;
            top: 50%;
            transform: translateX(100px) translateY(-50%);
            font-size: 50px;
            text-align: center;
            color: #fff;
        }
        .image {
            overflow: hidden;
            height: 600px;
        }
        .cover {
            width: 100%;
            display: none;
            animation-name: fade;
            animation-duration: 10s;
            animation-fill-mode: forwards;
        }
        @keyframes fade {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    </style>
    <!-- <div class="mask"> -->
        <!-- <div class="title">ブリリアントカレッジライフ</div> -->
    <!-- </div> -->
    <div class="image">
        <!-- <img src="/static/image/cover4/cover4.001.jpeg"> -->
        <img id="1" class="cover" src="/static/image/cover2.jpeg" style="transform: translateY(-250px);">
        <img id="2" class="cover"  src="/static/image/cover3.jpeg" style="transform: translateY(-30px);">
    </div>
    <script type="text/javascript">
        let id = 1;
        $(`#${id}`).show()
        id += 1;
        setInterval(function() {
            $('.cover').hide()
            $(`#${id}`).show()
            id += 1
            if (id >= 3) {
                id = 1
            }
        }, 9000)
    </script>
{% endblock %}