.main {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin-left: auto!important;
    margin-right: auto!important;
    padding: 0 20px;
}
.search-bar {
    border-bottom: solid 1px rgba(0,0,0,.15);
    padding-bottom: 25px;
    margin-bottom: 20px;
}
.search-bar .quick_input {
    margin: 10px 0;
}
.search-bar .quick_input input {
    width: 50%;
    border: solid 1px rgb(166, 166, 166);
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
}
.box-content p {
    letter-spacing: 2px;
    line-height: 20px;
}
.btn-shadow {
    box-shadow: 1px 2px 3px #808080;
}
.fixed {
    position: fixed;
    z-index: 100;
}
.right-top {
    top: 100px;
    right: 30px;
}
.ban {
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.course-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 600;
    background-color: rgba(0,0,0,.5);
}
.course-mask .card {
    text-align: center;
    position: relative;
    transform: translateY(200%);
    width: 600px;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    padding: 10px 10px;
}
.course-mask .card h4 {
    text-align: center;
    margin: 10px 10px;
}
.course-mask .card .inter-card {
    width: 100%;
    height: 100%;
    border: solid 1px #1BB394;
    padding: 10px 0;
}
.default-text {
    color: rgba(0,0,0,.5);
    text-align: center;
}
.line-height50 {
    line-height: 50px;
}
.star {
    color: #FFD700;
    margin-right: 5px;
}
#unfold {
    cursor: pointer;
}
#hidden {
    display: none;
    cursor: pointer;
}