{% extends 'base.html'%}
{% load static %}

{% block content %}
    <!-- css import -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/ui/button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ui/rating_star.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/course_post/edit.css' %}">
    <!-- main part -->
    <div class="box center marginTop30 box-width">
        <div class="box-title">
            <h3>修改心得</h3>
        </div>
        <div class="box-content">
            <form action="/course_post/{{ post.id }}/update" id="post" method="POST" enctype="multipart/form-data" onsubmit="return vaildateForm()" >
                {% csrf_token %}
                <div>
                    <h4>課程已選：{{ post.course.title_tw }}</h4>
                </div>
                <div>
                    <h4>第二步：填寫心得</h4>
                    <div class="form-group">
                        <label for="title">標題</label>
                        <input type="text" id="title" name="title" required="required" value="{{ post.title }}">
                    </div>
                    <div class="form-group">
                        <label for="content">內容</label>
                        <textarea  id="content" name="content" required="required">{{ post.content }}</textarea>
                    </div>

                    <div class="display_flex">
                        <div class="line_height30 marginRight20">甜度</div>
                        <div class="rating">
                            <input type="radio" id="sweety_star5" name="sweety" value="5" /><label class = "full" for="sweety_star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="sweety_star4" name="sweety" value="4" /><label class = "full" for="sweety_star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="sweety_star3" name="sweety" value="3" /><label class = "full" for="sweety_star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="sweety_star2" name="sweety" value="2" /><label class = "full" for="sweety_star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="sweety_star1" name="sweety" value="1" /><label class = "full" for="sweety_star1" title="Sucks big time - 1 star"></label>
                        </div>
                    </div>
                    <div class="display_flex">
                        <div class="line_height30 marginRight20">涼度</div>
                        <div class="rating">
                            <input type="radio" id="cold_star5" name="cold" value="5" /><label class = "full" for="cold_star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="cold_star4" name="cold" value="4" /><label class = "full" for="cold_star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="cold_star3" name="cold" value="3" /><label class = "full" for="cold_star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="cold_star2" name="cold" value="2" /><label class = "full" for="cold_star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="cold_star1" name="cold" value="1" /><label class = "full" for="cold_star1" title="Sucks big time - 1 star"></label>
                        </div>
                    </div>
                    <div class="display_flex">
                        <div class="line_height30 marginRight20">難度</div>
                        <div class="rating">
                            <input type="radio" id="hardness_star5" name="hardness" value="5" /><label class = "full" for="hardness_star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="hardness_star4" name="hardness" value="4" /><label class = "full" for="hardness_star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="hardness_star3" name="hardness" value="3" /><label class = "full" for="hardness_star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="hardness_star2" name="hardness" value="2" /><label class = "full" for="hardness_star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="hardness_star1" name="hardness" value="1" /><label class = "full" for="hardness_star1" title="Sucks big time - 1 star"></label>
                        </div>
                    </div>
                    
                    <div class="submit-bar">
                        <button type="submit" class="btn btn-main btn-m">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            更新
                        </button>
                    </div>
                </div>
                <!-- <div>
                    <h3>上傳成績分布圖</h3>
                    <input type="file" name="score_img">
                </div> -->
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $('.dep').change(function() {
            var dep = $('.dep option:checked').val()
            $.ajax({
                url: `/api/course/search?dep=${ dep }`,
                type: 'GET',
                success: function (data) {
                    $('.course').empty()
                    $('.course').append('<option value="">請先選擇系所再選課程</option')
                    for (i = 0; i < data.length; i++) {
                        html = `<option value='${ data[i]["course_no"] }'>${ data[i]["title"] } / ${ data[i]["teacher"] }</option>`
                        $('.course').append(html)
                        $('.course').prop( "disabled", false )
                    }
                }
            })
            // console.log($('.dep option:checked').val())
        })
        
        function vaildateForm () {
            if ($('.course option:checked').val() === '') {
                alert('請選擇課程')
                return false
            }
        }

        // 加上星星的值 & 匿名
        $('input#sweety_star{{ post.sweety }}').attr( 'checked', true )
        $('input#cold_star{{ post.cold }}').attr( 'checked', true )
        $('input#hardness_star{{ post.hardness }}').attr( 'checked', true )
    </script>
{% endblock %}


