{% extends 'base.html'%}
{% load static %}
{% load custom_filter %}

{% block content %}
    <!-- css import -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/ui/button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/course_post/index.css' %}">
    <!-- main part -->
    {% if ban %}
        <div class="course-mask">
            <div class="card">
                <div class="inter-card">
                    <h4>在看之前要先發一篇心得喔～助人也助己～</h4>
                    <a class="btn btn-main btn-xl line-height50" href="./new"><i class="fa fa-plus" aria-hidden="true"></i> 按這裡發表第一篇心得</a>
                </div>
            </div>
        </div>
    {% endif %}
    <a class="fixed right-top btn btn-main btn-xl btn-shadow {{ban}}" href="./new"><i class="fa fa-plus" aria-hidden="true"></i> 新增心得</a>
    <div class="main {{ban}}">
        <div class="search-bar">
            <form action="/course_post/search" method="GET" id="search">
                <h4>搜尋心得</h4>
                <div class="quick_input">
                    <input type="text" name="keyword" placeholder="輸入：課名 / 老師名 / 開課系所英文縮寫" value="{{ keyword }}">
                    <button type="submit" class="btn btn-s btn-white">搜尋</button>
                </div>
            </form>
        </div>
        {% if not results %}
            <div class="default-text">暫時還沒有心得喔～</div>
        {% endif %}
        {% for post in results %}
            <div class="box">
                <div class="box-title">
                    <h5><a class="href-style" href="/course_page/{{post.course.id}}">{{ post.course.title_tw }} / {{ post.course.teacher | replace:'[\u4e00-\u9fa5]+' }}</a></h5>
                </div>
                <div class="box-content">
                    <h3>{{ post.title }}</h3>
                    <div>
                        甜度：{{ post.sweety }} <i class="fa fa-star star" aria-hidden="true"></i>
                        涼度：{{ post.cold }} <i class="fa fa-star star" aria-hidden="true"></i>
                        難度：{{ post.hardness }} <i class="fa fa-star star" aria-hidden="true"></i>
                    </div>
                    <p id='unfold'>{{ post.content | truncatetw | linebreaksbr }}</p>
                    <p id='hidden'>{{ post.content | linebreaksbr }}</p>
                </div>
            </div>
        {% endfor %}
        {% include 'partial_template/_pagination.html' %}
    </div>

    <script type="text/javascript">       
        $('#unfold, #hidden').click(function() {
            $(this).toggle()
            if (this.id === 'unfold') {
                $(this).next().toggle()
            } else {
                $(this).prev().toggle()
            }
        })
    </script>
{% endblock %}