{% extends 'base.html'%}
{% load static %}
{% load custom_filter %}

{% block content %}
    <!-- import css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/ui/button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ui/rating_star.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/course_post/new.css' %}">
    <!-- main part -->
    <div class="box center marginTop30">
        <div class="box-title">
            <h3>填寫心得</h3>
        </div>
        <div class="box-content">
            <h4>第一步：選擇課程</h4>
            <div class="quick_search"> <!-- 依照系所 -->
                <input class="input" type="text" name="keyword" id="keyword" value="{{ course.title_tw }}" placeholder="輸入：課名 / 老師名 / 開課系所英文縮寫" value="{{ keyword }}" autocomplete="off">
                <input type="button" id="search" class="btn btn-s btn-white" value="搜尋"> 
                <div>
                    {% if course %}
                        <select class="course select-btn" form="post" name="course_no" required>
                            <option value="{{ course.course_no }}" checked>{{ course.title_tw }} / {{ course.teacher | replace:'[\u4e00-\u9fa5]+' }}</option>
                        </select>
                    {% else %}
                        <select class="course select-btn" form="post" name="course_no" disabled="true" required>
                            <option value="">請搜尋課程</option>
                        </select>
                    {% endif %}
                </div>
            </div>
            <form action="/course_post/create" id="post" method="POST" enctype="multipart/form-data" onsubmit="return vaildateForm()" autocomplete="off">
                {% csrf_token %}
                <div>
                    <h4>第二步：填寫心得</h4>
                    <input id="teacher" type="hidden" name="teacher">
                    <div class="form-group">
                        <label for="title">標題</label>
                        <input type="text" id="title" name="title" required="required">
                    </div>
                    <div class="form-group">
                        <label for="ta">助教表現</label>
                        <textarea  id="ta" name="ta"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="scoring">評分方式</label>
                        <textarea  id="scoring" name="scoring" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="content">修課心得</label>
                        <textarea  id="content" name="content" required="required"></textarea>
                    </div>

                    <div class="display_flex">
                        <div class="line_height30 marginRight20">甜度</div>
                        <div class="rating">
                            <input type="radio" id="sweety_star5" name="sweety" value="5" /><label class = "full" for="sweety_star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="sweety_star4" name="sweety" value="4" /><label class = "full" for="sweety_star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="sweety_star3" name="sweety" value="3" /><label class = "full" for="sweety_star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="sweety_star2" name="sweety" value="2" /><label class = "full" for="sweety_star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="sweety_star1" name="sweety" value="1" /><label class = "full" for="sweety_star1" title="Sucks big time - 1 star"></label>
                        </div>
                    </div>
                    <div class="display_flex">
                        <div class="line_height30 marginRight20">涼度</div>
                        <div class="rating">
                            <input type="radio" id="cold_star5" name="cold" value="5" /><label class = "full" for="cold_star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="cold_star4" name="cold" value="4" /><label class = "full" for="cold_star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="cold_star3" name="cold" value="3" /><label class = "full" for="cold_star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="cold_star2" name="cold" value="2" /><label class = "full" for="cold_star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="cold_star1" name="cold" value="1" /><label class = "full" for="cold_star1" title="Sucks big time - 1 star"></label>
                        </div>
                    </div>
                    <div class="display_flex">
                        <div class="line_height30 marginRight20">難度</div>
                        <div class="rating">
                            <input type="radio" id="hardness_star5" name="hardness" value="5" /><label class = "full" for="hardness_star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="hardness_star4" name="hardness" value="4" /><label class = "full" for="hardness_star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="hardness_star3" name="hardness" value="3" /><label class = "full" for="hardness_star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="hardness_star2" name="hardness" value="2" /><label class = "full" for="hardness_star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="hardness_star1" name="hardness" value="1" /><label class = "full" for="hardness_star1" title="Sucks big time - 1 star"></label>
                        </div>
                    </div>
                    
                    <div class="submit-bar">
                        <span>已預設匿名</span>
                        <button type="submit" class="btn btn-main btn-m">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            送出
                        </button>
                    </div>
                </div>
                <!-- <div>
                    <h3>上傳成績分布圖</h3>
                    <input type="file" name="score_img">
                </div> -->
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $('#search').click(function() {
            $('.course').hide()
            var keyword = $('input[name=keyword]').val()
            $.ajax({
                url: '/api/course/search?keyword=' + keyword ,
                type: 'GET',
                success: function (data) {
                    if (data.length > 0) {
                        $('.course').empty()
                        $('.course').append('<option value="">搜尋結果，請選擇課程</option')
                        for (i = 0; i < data.length; i++) {
                            html = `<option value='${ data[i]["course_id"] }'>${ data[i]["title"] } / ${ data[i]["teacher"] }</option>`
                            $('.course').append(html)
                            $('.course').prop( "disabled", false )
                        }
                        $('.course').show()
                    } else {
                        $('.course').empty()
                        $('.course').append('<option value="">關鍵字輸入錯誤或本學年並無開設此課</option')
                        $('.course').show()
                    }
                }
            })            
        })

        // 目前課號衝突
        $('.course').change(function() {
            var teacher = $('.course option:checked').text().split(' / ')[1]
            $('#teacher').val(teacher)
        })

        $("#keyword").keypress(function(e) {
            if (e.key === 'Enter') {
                $("#search").trigger( "click" );
            }
        })

        $("#post #title").keypress(function(e) {
            if (e.key === 'Enter') {
                return false
            }
        })        

        $("#post").submit(function() {
            if ($('.course option:checked').val() === '') {
                alert('請選擇課程')
                return false
            }
        })
    </script>
{% endblock %}


