{% extends 'base.html'%}


{% block content %}
    <style type="text/css">
        .center {
            margin-left: auto!important;
            margin-right: auto!important;
        }
        .marginTop30 {
            margin-top: 30px;
        }
        .box-title h3 {
            margin: 5px 5px;
        }
        .select-btn {
            background-color: #fff;
            height: 30px;
            outline: none;
        }
        .form-group {
            margin: 20px 0;
            display: flex;
            border-style: solid;
            border-width: 1px;
            border-color: #1BB394;
        }
        .form-group label {
            padding-left: 5px;
            width: 10%;
            line-height: 30px;
            background-color: #1BB394;
            color: #fff;
        }
        .form-group input {
            border: none;
            width: 90%;
            height: 30px;
            outline: none;
            font-size: 18px;
        }
        .form-group textarea {
            width: 90%;
            height: 200px;
            border-style: none;
            text-decoration: none;
            outline: none;
        }
        .submit-bar {
            float: right;
            margin: 30px 0;
        }
        .submit-btn {
            outline: none;
            background-color: #1BB394;
            border-color: #1BB394;
            color: white;
            line-height: 30px;
            font-size: 15px;
            padding: 0 30px;
            border-radius: 5px;
            display: inline-block;
            margin-left: 15px;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            white-space: nowrap;
            text-decoration: none;
        }
        .submit-btn:hover {
            background-color: #18A387;
        }
        .display_flex {
            display: flex;
        }
        .line_height30 {
            line-height: 30px;
        }
        .marginRight20 {
            margin-right: 20px;
        }
        .rating { 
          border: none;
          float: left;
        }

        .rating > input { display: none; } 
        .rating > label:before { 
          margin: 5px;
          font-size: 1.25em;
          font-family: FontAwesome;
          display: inline-block;
          content: "\f005";
        }

        .rating > .half:before { 
          content: "\f089";
          position: absolute;
        }

        .rating > label { 
          color: #ddd; 
         float: right; 
        }

        /***** CSS Magic to Highlight Stars on Hover *****/

        .rating > input:checked ~ label, /* show gold star when clicked */
        .rating:not(:checked) > label:hover, /* hover current star */
        .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

        .rating > input:checked + label:hover, /* hover current star when changing rating */
        .rating > input:checked ~ label:hover,
        .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
        .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
    </style>
    <div class="box center marginTop30">
        <div class="box-title">
            <h3>填寫心得</h3>
        </div>
        <div class="box-content">
            <form action="/course_comment/create" id="comment" method="POST" enctype="multipart/form-data" onsubmit="return vaildateForm()" >
                {% csrf_token %}
                <div>
                    <h4>第一步：選擇課程</h4>
                    <div> <!-- 依照系所 -->
                        <div>
                            <select class="dep select-btn" required>
                                <option value="">請選擇開課系所</option>
                                <option value="ANTH">ANTH　人類所 Anthropology</option>
                                <option value="ANTU">ANTU　人類所與交大合作課程 Anthropology and NCTU</option>
                                <option value="ASTR">ASTR　天文所 Astronomy</option>
                                <option value="BME ">BME 　生物醫學工程研究所 Biomedical Engineering</option>
                                <option value="BMES">BMES　醫環系 Biomedical Engineering and Environmental Sciences</option>
                                <option value="CF  ">CF  　大學中文 College Chinese</option>
                                <option value="CHE ">CHE 　化工系 Chemical Engineering</option>
                                <option value="CHEM">CHEM　化學系 Chemistry</option>
                                <option value="CL  ">CL  　中文系 Chinese Literature</option>
                                <option value="CLC ">CLC 　華語中心 Chinese Language Center</option>
                                <option value="CLU ">CLU 　中文系與交大合作課程 Chinese Literature and  NCTU</option>
                                <option value="COM ">COM 　通訊所 Communications Engineering</option>
                                <option value="CS  ">CS  　資工系 Computer Science</option>
                                <option value="DL  ">DL  　遠距課程 Distance Learning</option>
                                <option value="DMS ">DMS 　醫學科學系 Medical Science</option>
                                <option value="E   ">E   　工學院 College of Engineering</option>
                                <option value="ECON">ECON　經濟系 Economics</option>
                                <option value="EE  ">EE  　電機系 Electrical Engineering</option>
                                <option value="EECS">EECS　電資院學士班 Undergraduate Program of Electrical Engineering and Computer Science</option>
                                <option value="EMBA">EMBA　高階經營管理碩士班 Executive Master of Business Administration</option>
                                <option value="EMS ">EMS 　高階經管境外專班  </option>
                                <option value="ENE ">ENE 　電子所 Electronic Engineering</option>
                                <option value="ESS ">ESS 　工科系 Engineering and System Science</option>
                                <option value="EST ">EST 　環境博士學位學程  </option>
                                <option value="ESTU">ESTU　環境博士學程與台聯大  </option>
                                <option value="FL  ">FL  　外語系 Foreign Languages and Literature</option>
                                <option value="FLU ">FLU 　外語系與交大合作課程 Foreign Languages and Literature and NCTU</option>
                                <option value="GE  ">GE  　通識教育中心 General Education</option>
                                <option value="GEC ">GEC 　通識核心 General Education Core Courses</option>
                                <option value="GEU ">GEU 　通識中心與交大合作課 General Education and NCTU</option>
                                <option value="GOM ">GOM 　全球營運管理碩士學程 Dual Master Program for Global Operation Management</option>
                                <option value="GPTS">GPTS　台灣研究教師在職進修 Graduate Program of Taiwan Studies for In-service Teachers</option>
                                <option value="HIS ">HIS 　歷史所 History</option>
                                <option value="HSS ">HSS 　人社院學士班 Interdisciplinary Program of Humanities and Social Sciences</option>
                                <option value="HSSU">HSSU　人社學士班與交大合作 Humanities and Social Science & NCTU</option>
                                <option value="IACS">IACS　亞際文化碩士學程 International Program in Inter-Asia Cultural Studies (University System of Taiwan)</option>
                                <option value="IACU">IACU　亞際文化與台聯大合作 International Program in Inter-Asia Cultural Studies (University System of Taiwan)</option>
                                <option value="IEEM">IEEM　工工系 Industrial Engineering and Engineering Management</option>
                                <option value="IEM ">IEM 　工工系碩士在職專班 Industrial Engineering and Engineering Management (Engineering Professional Master Program)</option>
                                <option value="ILS ">ILS 　學習科學研究所 Learning Sciences</option>
                                <option value="IMBA">IMBA　IMBA International Master of Business Administration</option>
                                <option value="IPE ">IPE 　工學院學士班 Interdisciplinary Program of  Engineering</option>
                                <option value="IPHD">IPHD　跨院國際博士班學位學 International Intercollegiate Ph.D. Program</option>
                                <option value="IPNS">IPNS　原科院學士班 Interdisciplinary Program of Nuclear Science</option>
                                <option value="IPT ">IPT 　光電所 Photonics Technologies</option>
                                <option value="IPTH">IPTH　清華學院學士班 Tsing Hua Interdisciplinary Program</option>
                                <option value="ISA ">ISA 　資應所 Information Systems and Applications</option>
                                <option value="ISS ">ISS 　服務科學所 Service Science</option>
                                <option value="KARD">KARD　藝設系 Arts and Design</option>
                                <option value="KECE">KECE　幼教系 Early Childhood Education</option>
                                <option value="KECR">KECR　環文系 Environmental and Cultural Resources</option>
                                <option value="KELT">KELT　教科系 Education and Learning Technology</option>
                                <option value="KENI">KENI　英教系 English Instruction</option>
                                <option value="KEPC">KEPC　心諮系 Educational Psychology and Counseling</option>
                                <option value="KMSE">KMSE　數理所 Mathematics and Science Education</option>
                                <option value="KMUS">KMUS　音樂系 Music</option>
                                <option value="KPHE">KPHE　體育系 Physical Education</option>
                                <option value="KSPE">KSPE　特教系 Special Education</option>
                                <option value="KTLT">KTLT　臺語所 Taiwan Languages and Language Teaching</option>
                                <option value="LANG">LANG　語言中心 Language Center</option>
                                <option value="LING">LING　語言所 Linguistics</option>
                                <option value="LS  ">LS  　生科系 Life Science</option>
                                <option value="LSBS">LSBS　生資所 Bioinformatics and Structural Biology</option>
                                <option value="LSBT">LSBT　生技所 Biotechnology</option>
                                <option value="LSC ">LSC 　生科院 College of LIfe Sciene</option>
                                <option value="LSIN">LSIN　神經科學博士學位學程 Ph.D.Program in Interdisciplinary Neuroscience(University System of Taiwan)</option>
                                <option value="LSIP">LSIP　生科院學士班 Interdisciplinary Program of Life Sciences</option>
                                <option value="LSMC">LSMC　分生所 Molecular and Cellular Biology</option>
                                <option value="LSMM">LSMM　分醫所 Molecular Medicine</option>
                                <option value="LSSN">LSSN　系神所 Systems Neuroscience</option>
                                <option value="LST ">LST 　科法所 Law for Science and Technology</option>
                                <option value="MATH">MATH　數學系 Mathematics</option>
                                <option value="MATU">MATU　數學系與交大合作課程 Mathematics & NCTU</option>
                                <option value="MBA ">MBA 　經營管理碩士班 Master of Business Administration</option>
                                <option value="MFB ">MFB 　財務金融碩士在職專班 Master Program of  Finance and Banking</option>
                                <option value="MI  ">MI  　軍訓 Military Education</option>
                                <option value="MPM ">MPM 　公共政策與管理專班 Master Program of Public Policy and Management</option>
                                <option value="MS  ">MS  　材料系 Materials Science and Engineering</option>
                                <option value="NEMS">NEMS　奈微所 NanoEngineering and MicroSystems</option>
                                <option value="NES ">NES 　核工所 Nuclear Engineering and Science</option>
                                <option value="NS  ">NS  　原科系 Nuclear Science</option>
                                <option value="NUCL">NUCL　原科院  </option>
                                <option value="PE  ">PE  　體育 Physical Education</option>
                                <option value="PE1 ">PE1 　大一體育 Physical Education</option>
                                <option value="PE3 ">PE3 　體育(校隊) Physical Education</option>
                                <option value="PHIL">PHIL　哲學所 Philosophy</option>
                                <option value="PHYS">PHYS　物理系 Physics</option>
                                <option value="PHYU">PHYU　物理系與交大合作課程 Physics and NCTU</option>
                                <option value="PME ">PME 　動機系 Power Mechanical Engineering</option>
                                <option value="QF  ">QF  　計財系 Quantitative Finance</option>
                                <option value="RB  ">RB  　輻生[1998.6以前]  </option>
                                <option value="RDDM">RDDM　半導體元件及製程專班 Industrial Technology R&D Master Program on Semiconductor Devices & Manufacturing Process</option>
                                <option value="RDIC">RDIC　積體電路設計專班 Industrial Technology R&D Master Program on IC Design</option>
                                <option value="RDPE">RDPE　產業研發碩士電力電子 Industrial Technology R&D Master Program on Power Electronics</option>
                                <option value="SCI ">SCI 　理學院學士班 Interdisciplinary Program of Sciences</option>
                                <option value="SLS ">SLS 　先進光源科技學位學程 Doctor Program of Science and Technology of Synchrotron Light Source</option>
                                <option value="SNHC">SNHC　社群人智國際學程 Social Networks and Human-Centered Computing</option>
                                <option value="SOC ">SOC 　社會所 Sociology</option>
                                <option value="STAT">STAT　統計所 Statistics</option>
                                <option value="STAU">STAU　統計所與交大合作課程 Statistics & NCTU</option>
                                <option value="TE  ">TE  　師培中心(中等教程) Teacher Education</option>
                                <option value="TEG ">TEG 　師培中心(一般課程) Teacher Education (General Courses)</option>
                                <option value="TEX ">TEX 　師培中心與竹教大合作 Teacher Education and National Hsinchu University of Education</option>
                                <option value="TIGP">TIGP　國際研究生學程 Taiwan International Graduate Program</option>
                                <option value="TL  ">TL  　台文所 Taiwan Literature</option>
                                <option value="TM  ">TM  　科管所 Technology Management</option>
                                <option value="UPMT">UPMT　科管院學士班 Double Specialty Program of Management and Technology</option>
                                <option value="W   ">W   　W課號課程 Interschool Courses</option>
                                <option value="WH  ">WH  　台聯大及互惠課程  </option>
                                <option value="WW  ">WW  　交大課程 NCTU COURSE</option>
                                <option value="WZ  ">WZ  　外校課程 </option>
                                <option value="X   ">X   　X抵免課程  </option>
                                <option value="XA  ">XA  　抵免課程(大) </option>
                                <option value="XZ  ">XZ  　抵免課程(研) </option>
                                <option value="YZ  ">YZ  　課務組專用 </option>
                                <option value="ZY  ">ZY  　服務學習 Service Learning</option>
                            </select>
                        </div>
                        <br/>
                        <div>
                            <select class="course select-btn" form="comment" name="course_no" disabled="true" required>
                                <option value="">請先選擇系所再選課程</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <h4>第二步：填寫心得</h4>
                    <div class="form-group">
                        <label for="title">標題</label>
                        <input type="text" id="title" name="title" required="required">
                    </div>
                    <div class="form-group">
                        <label for="content">內容</label>
                        <textarea  id="content" name="content" required="required"></textarea>
                    </div>

                    <div class="display_flex">
                        <div class="line_height30 marginRight20">甜度</div>
                        <div class="rating">
                            <input type="radio" id="sweety_star5" name="sweety" value="5" /><label class = "full" for="sweety_star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="sweety_star4" name="sweety" value="4" /><label class = "full" for="sweety_star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="sweety_star3" name="sweety" value="3" /><label class = "full" for="sweety_star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="sweety_star2" name="sweety" value="2" /><label class = "full" for="sweety_star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="sweety_star1" name="sweety" value="1" /><label class = "full" for="sweety_star1" title="Sucks big time - 1 star"></label>
                        </div>
                    </div>
                    <div class="display_flex">
                        <div class="line_height30 marginRight20">涼度</div>
                        <div class="rating">
                            <input type="radio" id="cold_star5" name="cold" value="5" /><label class = "full" for="cold_star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="cold_star4" name="cold" value="4" /><label class = "full" for="cold_star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="cold_star3" name="cold" value="3" /><label class = "full" for="cold_star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="cold_star2" name="cold" value="2" /><label class = "full" for="cold_star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="cold_star1" name="cold" value="1" /><label class = "full" for="cold_star1" title="Sucks big time - 1 star"></label>
                        </div>
                    </div>
                    <div class="display_flex">
                        <div class="line_height30 marginRight20">深度</div>
                        <div class="rating">
                            <input type="radio" id="hardness_star5" name="hardness" value="5" /><label class = "full" for="hardness_star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="hardness_star4" name="hardness" value="4" /><label class = "full" for="hardness_star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="hardness_star3" name="hardness" value="3" /><label class = "full" for="hardness_star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="hardness_star2" name="hardness" value="2" /><label class = "full" for="hardness_star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="hardness_star1" name="hardness" value="1" /><label class = "full" for="hardness_star1" title="Sucks big time - 1 star"></label>
                        </div>
                    </div>
                    
                    <div class="submit-bar">
                        <label for="anonymous">匿名</label>
                        <input type="checkbox" name="anonymous">
                        <button type="submit" class="submit-btn">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            送出
                        </button>
                    </div>
                </div>
                <!-- <div>
                    <h3>上傳成績分布圖</h3>
                    <input type="file" name="score_img">
                </div> -->
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $('.dep').change(function() {
            let dep = $('.dep option:checked').val()
            $.ajax({
                url: `/api/course/search?dep=${ dep }`,
                type: 'GET',
                success: function (data) {
                    $('.course').empty()
                    $('.course').append('<option value="">請先選擇系所再選課程</option')
                    for (i = 0; i < data.length; i++) {
                        html = `<option value='${ data[i]["course_no"] }'>${ data[i]["title"] } / ${ data[i]["teacher"] }</option>`
                        $('.course').append(html)
                        $('.course').prop( "disabled", false )
                    }
                }
            })
            // console.log($('.dep option:checked').val())
        })

        function vaildateForm () {
            if ($('.course option:checked').val() === '') {
                alert('請選擇課程')
                return false
            }
        }
    </script>
{% endblock %}


